#canvasContainer {
  position: relative;
  width: 600px;
  height: 400px;
  margin-left: 45px;
}

canvas {
  display: block;
  border: 1px solid none;
}

@media (max-width: 800px) {
  #canvasContainer {
    display: none;
  }
  #startButton {
    order: 3;
    margin: 20px auto;
  }

  #mobileMessage {
    text-align: center;
    font-size: 24px;
    padding-top: 200px;
  }
}

@media (min-width: 801px) {
  #startButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* Centraliza o botão no meio da div "empresa" */
    margin: 0; /* Remove a margem anterior */
  }
}
